@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-2xl md:text-4xl font-bold font-Baskervville;
  }

  h5 {
    @apply mb-2 md:text-2xl text-xl font-bold font-Baskervville;
  }
}

.section-container {
  @apply max-w-7xl mx-auto text-center md:px-4 px-8 md:text-left;
}

.section-content {
  @apply max-w-6xl mx-auto leading-9 text-center md:text-left;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}
.video-play-button {
  position: relative;
  display: block;
  z-index: 3;
  top: 6px;
  left: 4px;
  width: 0;
  height: 0;
  border-left: 20px solid #185b95;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-mobile.png");
  }
  background-repeat: no-repeat;
  background-size: cover;
}

/* custo borders */

/* nav sticky */
.navbar-sticky {
  background: #ff0000;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* back to top */
.to-top-btn {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
  background-color: #1d1d21;
}

.to-top-btn img {
  margin-bottom: 0.2rem;
  margin-left: 30%;
  width: 20px;
}

.show {
  opacity: 1;
}
/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0px;
  left: 0px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 10px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}
/* .project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
} */
/* HAMBURGER MENU */

.hamburger-1 {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top-1,
.hamburger-middle-1,
.hamburger-bottom-1 {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  top: 0px;
  left: 0px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle-1 {
  transform: translateY(7px);
}

.hamburger-bottom-1 {
  transform: translateY(5px);
  background: #000;
}

.open-1 {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: absolute;
  top: 22px;
  right: 25px;
}
.open-2 {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: absolute;
  bottom: 24px;
  right: 25px;
}

.open-1 .hamburger-top-1 {
  transform: rotate(50deg) translateY(0px) translateX(7px);
  background-color: #000;
  background-image: linear-gradient(to right, green, blue);
}

.open-1 .hamburger-middle-1 {
  display: none;
}

.open-1 .hamburger-bottom-1 {
  transform: rotate(-50deg) translateY(0px) translateX(-7px);
  background-color: #255;
  background-image: linear-gradient(to right, green, blue);
}
/* open position 2 */
.open-2 .hamburger-top-1 {
  transform: rotate(-50deg) translateY(0px) translateX(7px);
  background-color: #000;
}

.open-2 .hamburger-middle-1 {
  display: none;
}

.open-2 .hamburger-bottom-1 {
  transform: rotate(50deg) translateY(0px) translateX(-7px);
  background-color: #255;
  background-image: linear-gradient(to right, green, blue);
}
/*
typing effect*/

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%,
  30% {
    content: "";
  }
  1%,
  29% {
    content: "C";
  }
  2%,
  28% {
    content: "Cr";
  }
  3%,
  27% {
    content: "Crea";
  }
  4%,
  26% {
    content: "Creat";
  }
  5%,
  25% {
    content: "Creati";
  }
  6%,
  24% {
    content: "Creativ";
  }
  7%,
  23% {
    content: "Creativi";
  }
  8%,
  22% {
    content: "Creativit";
  }
  9%,
  21% {
    content: "Creativity";
  }
  10%,
  20% {
    content: "Creativity ?";
  }

  /* play another statement */
  35%,
  65% {
    content: "";
  }
  36%,
  64% {
    content: "C";
  }
  37%,
  63% {
    content: "Co";
  }
  38%,
  62% {
    content: "Com";
  }
  39%,
  61% {
    content: "Comm";
  }
  40%,
  60% {
    content: "Commi";
  }
  41%,
  59% {
    content: "Commit";
  }
  42%,
  58% {
    content: "Commitm";
  }
  43%,
  57% {
    content: "Commitme";
  }
  44%,
  56% {
    content: "Commitmen";
  }
  45%,
  56% {
    content: "Commitment";
  }
  46%,
  55% {
    content: "Commitment ?";
  }

  /* another statement */
  70%,
  94% {
    content: "";
  }
  71%,
  93% {
    content: "P";
  }
  72%,
  92% {
    content: "Pr";
  }
  73%,
  91% {
    content: "Pre";
  }
  74%,
  90% {
    content: "Prec";
  }
  75%,
  89% {
    content: "Preci";
  }
  76%,
  88% {
    content: "Precis";
  }
  77%,
  87% {
    content: "Precisi";
  }
  78%,
  86% {
    content: "Precisio";
  }
  79%,
  85% {
    content: "Precision";
  }
  80%,
  85% {
    content: "Precision ?";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 12s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "developer";
    }
    25% {
      content: "writer";
    }
    50% {
      content: "reader";
    }
    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 5s linear infinite;
  }
}

/**/
